
body {
  background-color: rgb(30, 30, 30);
  color: #fff;
  }

.pointer {
  cursor : pointer;
}

.disable {
  opacity: 0.3;
  cursor: default;
}

.playbackRateBack {
  background-image : url("\\videoNote\\images\\blank-circle.svg");
  width: 40px;
  height: 40px;
}
.playbackRateFront {
  font-size : 21px;
  color:rgb(30, 51, 88);
  font-weight: bolder;
  position: relative;
  top:9px;
  left: 6px;
}
.projectTitle {
  margin-left: 15px;
  font-size: 26px;
}

.margin-l5 {
  margin-left: 5px;
}

.button-3 {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-3:hover {
  background-color: #2c974b;
}

.button-3:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.button-3:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.button-3:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

.slider {
  /*position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
    background: #fcfcfc;
      box-shadow: 0px 15px 40px #7E6D5766;*/
  margin-left: 1%;;
  width: 98%;
  height: 40px;
  margin-top: 5px;
  margin-bottom: 5px;  
  border-radius: 20px;
  display: flex;
  align-items: center;
  }
  .slider p {
  font-size: 26px;
  font-weight: 600;
  font-family: Open Sans;
    /*padding-left: 30px;*/
  color: black;
  }
  .slider input[type="range"] {
  -webkit-appearance:none !important;
  width: 90%;
  height: 2px;
  background: black;
  border: none;
  outline: none;
  }
  .slider input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  width: 20px;
  height:20px;
  background: black;
  border: 2px solid black;
  border-radius: 50%;
  cursor: pointer;
  }
  .slider input[type="range"]::-webkit-slider-thumb:hover {
  background: black;
  }

  .topBox {
    position: absolute;
    top: 10px;
    left: 1%;
    width: 98%;
    height: 40px;
    border-radius:5px;
    box-shadow: 0 4px 8px 0 rgba(150, 150, 150, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.79);

  }

  .leftBox {
    position: absolute;
    top: 70px;
    min-height: 150px;
    border-radius:5px;
    box-shadow: 0 4px 8px 0 rgba(150, 150, 150, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.79);
  }

  .rightBox {
    position: absolute;
    top: 70px;
    min-height: 150px;
    border-radius:5px;
    box-shadow: 0 4px 8px 0 rgba(150, 150, 150, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.79);
  }
