<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Video Note App</title>
    <!--script src="https://unpkg.com/vue@next"></script-->
    <!--script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script-->
    <script src="scripts/vue.global.js"></script>
    <script src="scripts/axios.js"></script>
    <link type="text/css" rel="stylesheet" href="css/style.css"/> 
    <link rel="shortcut icon" href="#">
  </head>
  <body>
    
    <div id="app">



        
        <div class="box topBox" v-if="configMenuVisible"> 
          <div class="margin-l5" style="padding: 5px;">          
            <img src="images\settings-gear.svg" class="pointer" alt="open config settings" width="40" @click="configMenuVisible=!configMenuVisible"/> 
            <span class="configTitle">Project Configuration</span>
          </div>

          <div style="margin-left: 1%;">
            <table class="config-table">
              <tr class="config-tr" v-for="key in Object.keys(config)">
                <td>{{key}}</td>
                <td>:</td>
                <td> <input type="text" v-model="config[key]" /></td>
              </tr>
            </table>
          </div>

            
        </div>     
        <div class="box leftBox" v-if="!configMenuVisible" :style="{width:(config.leftBoxWidth - 2) + '%', left:'1%'}" ref="leftBox">
          <div class="margin-l5" style="padding: 5px;">          
            <img src="images\settings-gear.svg" class="pointer" alt="open config settings" width="40" @click="configMenuVisible=!configMenuVisible"/> 
            <img src="images\save-file.svg" class="margin-l5 pointer" width="40" alt="save configuration" @click="saveProject"/>
            <img src="images\backward.svg" class="margin-l5" :class="{disable:!videoLoaded || sliderValue<playbackRate, pointer:videoLoaded && sliderValue>=playbackRate}" alt="backward video" @click="backwardVideo"/>
            <img :src="!playStatus?'images\\play.svg':'images\\pause.svg'" class="margin-l5" :class="{disable:!videoLoaded, pointer:videoLoaded}"  alt="play video" @click="playVideo" />
            <img src="images\forward.svg" style="float: right;" class="pointer" @click="updatePlaybackRate(1)"/>
            <span style="float: right;" class="playbackRateBack pointer margin-r5" @click="updatePlaybackRate(0)"><span  class="playbackRateFront">{{parseFloat(playbackRate).toFixed(1)}}</span></span>
            <img src="images\backward.svg" class="pointer margin-r5" style="float: right;" @click="updatePlaybackRate(-1)"/>

          </div>
          <video ref="video" style="width: 100%;" id="videoId" :src="config.videoSrc" @click="play"></video>
          <div class="slider">
            <input type="range" min="0" :max="sliderMax" :value="sliderValue" @input="setCurrentTime($event)">
            <p id="rangeValue">{{formattedTime}}</p>
          </div>
        </div>
        <div class="box rightBox" v-if="!configMenuVisible" :style="{width:(config.rightBoxWidth-1) + '%', left:(config.leftBoxWidth)+'%', height:($refs.leftBox?$refs.leftBox.clientHeight:150)+'px'}">
          <div class="margin-l5" style="padding: 5px;"> 
            <img src="images\plus-circle.svg" class="pointer" alt="add frame" @click="addFrame"/> 
          </div>
          <div style="width: 30%;"  class="margin-l10 innerBox"  :style="{height:($refs.leftBox?$refs.leftBox.clientHeight-65:90)+'px'}">
           
           
            <div class="frameBox"  v-for="frame in frameList">

            </div>
           
          </div>
        
     
        </div>
        
       

        
      


        <div class="modal-mask" v-if="showModal">
          <div class="modal-wrapper">
            <div class="modal-container">
              <div class="modal-header">               
                <h3 slot="header">custom header</h3>               
              </div>
              <div class="modal-body">             
                  default body              
              </div>
              <div class="modal-footer">              
                  default footer
                  <button class="modal-default-button" @click="showModal = false"> OK</button>             
              </div>
            </div>
          </div>
        </div>

    
      <a ref="download" id="downloadId" href='#'></a>
    <script src="C:/Users/hayda/Downloads/project.js"></script>
    <script src="scripts/app.js"></script>
  </body>
</html>